page-result {
    font-family: Helvetica;

    .content {
        background-image: url(../assets/imgs/background.png);
        background-repeat: no-repeat;
        background-position: 0;  
        background-size: 100%;
    }

    .imageTitle {
        height: auto;
        width: auto;
    }
}
