page-cotacao {
    font-family: Helvetica;

    .content {
        background-image: url(../assets/imgs/background.png);
        background-repeat: no-repeat;
        background-position: 0;    
        background-size: 100%;    
    }

    .imageTitle {
        height: 4rem;
        width: 4rem;
    }
        
    .card {
        height: 4.5rem;  
        border: 0.2rem solid black;   
        padding-top: 0.2rem;
    }

    .cardTitle {
        font-size: 3rem;
    }

    .itens {
        float: left;
        width: 40%;
        margin-right: 2rem;
        font-size: 1.2rem;
    }

    .itens2 {
        float: left;
        width: 40%;
        margin-right: 2rem;
        font-size: 1.2rem;
    }

    .reservaItem {
        float: left;
    }

    .carroReservaList {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .rowClass {
        padding-left: 1rem;
    }

    .rowClass2 {
        padding-left: 1rem;
        padding-top: 0;
    }

    .kmlivre ion-label {
        margin-top: 0 !important;
    }

    .kmlivre {
        padding-left: 0;
        font-size: 1.2rem;
    }    

    .kmlivreItem1 {
        margin-top: 0;
        margin-left: 0.5rem;
        margin-top: 0.3rem;
        font-size: 1.2rem;
        padding-left: 1rem;
    }

    .kmlivreItem2 {
        float: left;
        margin-left: 1.5rem;
    }

    .rastreador {
        padding-left: 0;
        font-size: 1.2rem;
    }    

    .kmlivreContainer {
        float: left;
    }

    .rastreadorContainer {
        float: right;
    }

    .rastreadorItem1 {
        margin-top: 0.3rem;
        margin-left: 2rem;
        font-size: 1.2rem;
        padding-left: 1rem;
    }

    .rastreadorItem2 {
        margin-top: 0.3rem;
        float: left;
        margin-left: 1.5rem;
    }

    .terceirosItems {
        padding-left: 2rem;        
    }

    .terceiros ion-label {
        margin-top: 0 !important;
    }

    .terceiros {
        padding-left: 0;
    }

    .coberturaItems {
        padding-left: 2rem;
    }

    .cobertura ion-label {
        margin-top: 0 !important;
    }

    .cobertura {
        padding-left: 0;
    }

    .carroReserva {
        margin-top: 1rem;
    }

    .cobeturaVidros {
        margin-top: 0rem;
        margin-bottom: 1rem;
    }    

    .veiculo {
        font-size: 1.2rem;
    }

}
